body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: #00698f;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

div{
  justify-content: center;
  align-items: center;
}

div {
  margin: 20px;
}